# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.env
*.egg-info/

# Node
node_modules/
.next/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project specific
*.gaphor
*.docx
*.mwb
diagramas_classe/
SQL_Scripts/
